{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  
<a class="twitter-timeline"
  href="https://twitter.com/_inspirata"
  data-show-replies="true">
Tweets by @TwitterDev
</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<script>
twttr.widgets.createTimeline(
  {
    sourceType: "profile",
    screenName: "_inspirata"
  },
  document.getElementById("container")
);
</script>
{% endblock %}