body{
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  /*background:#67BCDB;*/
  background: "spiration-light.png";
  background-repeat:repeat;
  margin: 0 auto 0 auto;  
  width:100%; 
  text-align:center;
  margin: 2px 0px 20px 0px;   
}

p{
  font-size: 20px;
  text-align: left;
  padding: 0px 8px;
}

h1{
  font-size:1.5em;
  /*color*/
}

h2{
  font-size:30px;
  /*color:#525252;*/
}

.box{
  /*background:#68ACC3;*/
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  width:65%;
  border-radius:6px;
  margin: 0 auto 0 auto;
  /*padding:0px 0px 70px 0px;*/
/*   border: 2px solid;  */
  border-color:
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width:10%;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  /*float:left;*/
  /*margin-left:25%;*/
  font-weight:800;
  font-size:0.8em;
}

.twitter-timeline-rendered { 
      width: 60% !important; 
    }


.btn:hover{
  background:#2CC06B; 
}

#btn2{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#3594D2; 
}
th {
    text-align: center;
}
.btn2{
  background:#2ecc71;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  /*float:left;*/
  /*margin-left:25%;*/
  font-weight:800;
  font-size:0.8em;
}

#home{
    font-weight:800;
    font-size:20px;
    color: white;
    margin: 5px;
}
#logout{
    font-weight:800;
    font-size:20px;
    color: white;
}

