<!-- {% load static %} -->
<!-- {% load compress %} -->
<html lang="en">
<title>Inspirata</title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- <title>{% block page_title %}My Site{% endblock %}</title> -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="cfd.css">
</head>

<body background="spiration-light.png">
	<header>
		 <h1 margin-top="100000px" style="font-size:50px;"><span id="inspirata">Inspirata</span>
 </h1>
</header>

<body>

    <div class="box">
      <h2>
      	<span id="inspirata-start">Inspirata   </span><span class="typed-cursor">|</span>    
      </h2>
    </div>

    <h3>Instagram Responses</h3>
    <img src="./images/insta8.png">
    <img src="./images/13_big.png">
    <img src="./images/14.png">
    <img src="./images/15.png">
    <img src="./images/insta1.png">
    <!-- <img src="./images/insta2.png"> -->
    <img src="./images/insta3.jpg">
    <img src="./images/insta4.png">
    <img src="./images/insta5.jpg">
    <img src="./images/insta6.jpg">
    <img src="./images/insta7.png">
    <!-- <img src="./images/insta7.png"> -->

    
<script src="./index_files/typed.js"></script>
<script src="./index_files/cfd.js"></script>



</body>
</html>
